<div style="width:100%; position: fixed; z-index: 1; top: 0;">
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid" style="padding:0 90px;"><a class="navbar-brand" href="/">BITU BOOKING</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                        id="navcol-1">
                    <form class="form-inline mr-auto" target="_self">
                    </form>
                    <div class="acc">

                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<script>
  const checkLogin = () => {
        const userName = getCookies('userName')

        const acc = document.querySelector('.acc')

        if (userName) {
            acc.innerHTML = `<div class="btn-group"><button class="btn btn-secondary btn-sm dropdown-toggle" type="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${userName}</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="/user">Thông tin</a>
            <a class="dropdown-item" href="/logout">Đăng xuất</a></div></div>`
        } else {
            acc.innerHTML = `<span class="navbar-text" style="margin-right: 12px;"> 
            <a class="login" href="/login">Đăng nhập</a></span>
            <a class="btn btn-light action-button" role="button" 
            href="/signup"style="margin-bottom: 5px;">Đăng ký</a>`
        }
    }  

    checkLogin()
</script>